:root {
  --color-blue-black: #131020;
  --color-green: #b6fdbf;
  --color-red: #ed1f34;
  --steel-blue: #94aebf;
  --field-bg-color: hsla(0, 0%, 100%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azo Sans", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-blue-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* UTILITIES */
.row {
  display: flex;
  align-items: baseline;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* TITLE */
.join-text > p:nth-child(1) {
  font-family: "Elaine D02", Arial, Helvetica, sans-serif;
  color: var(--color-green);
  font-size: 2.5rem;
  text-align: center;
}

.join-text > p:nth-child(2) {
  color: var(--steel-blue);
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

/* FORM AREA */

input {
  background-color: var(--field-bg-color);
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  font-size: 1.25rem;
}

input:focus {
  border: 1px solid #fff;
}

button {
  background: var(--color-red);
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-top: 0.75rem;
  border-radius: 5px;
  font-size: 1rem;
}

/* FINE PRINT */
.input-check {
  margin-right: 5px;
}

.fine-print {
  color: #888;
}
